.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/PersonalRepo.iml
.idea/.gitignore
BreakRemind/.vs/BreakRemind/v16/ipch/AutoPCH/e13c918e0546d22a/BREAKTIMER.ipch
BreakRemind/.vs/BreakRemind/v16/ipch/AutoPCH/407f6f76d4e2e6fe/BREAKREMIND.ipch
BreakRemind/.vs/BreakRemind/v16/Browse.VC.opendb
BreakRemind/.vs/BreakRemind/v16/Browse.VC.db-wal
BreakRemind/.vs/BreakRemind/v16/Browse.VC.db-shm
BreakRemind/.vs/BreakRemind/v16/Browse.VC.db
